body {
     background: linear-gradient( #ffebd3, #f4faff);    
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    color: #007bff;
    margin: 30px;
    text-align: center;
}

.class-name {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 30px;
    width: 50%;
    margin: 10px auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.284);
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

label {
    font-weight: bold;
    font-size: 17px;
    color: #333;
}

input,
select,
textarea {
    padding: 10px;
    border: 1.5px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
}

input:hover,
textarea:hover,
select:hover {
    border-color: #1c5988;
}

/* submit button */
button {
    background: linear-gradient(90deg, #0078d7, #00bfa6);
    color: white;
    padding: 12px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}