body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(#ffebd3, #f4faff);
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #007bff;
  margin: 30px 0;
}

/* Navbar */
.admin-navbar {
  background: #ffffff;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.admin-navbar nav a {
  margin-left: 20px;
  color: #1e3a8a;
  text-decoration: none;
  font-size: 18px;
}

/* ===== Summary Boxes ===== */
.summary-box {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin: 40px auto;
  width: 90%;
  flex-wrap: wrap;
}

.summary-card {
  background: #ffffff;
  width: 250px;
  padding: 25px;
  border-radius: 14px;
  text-align: center;
  box-shadow: 0 8px 12px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.summary-card:hover {
  transform: translateY(-5px);
}

.summary-card h3 {
  color: #555;
}

.summary-card p {
  font-size: 26px;
  font-weight: bold;
}

/* Colors */
.summary-card.total p {
  color: #007bff;
}

.summary-card.resolved p {
  color: #28a745;
}

.summary-card.pending p {
  color: #e67e22;
}

/* ===== Table ===== */
.table-container {
  width: 90%;
  margin: 20px auto;
  background: #ffffff;
  padding: 30px;
  border-radius: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #3773b4;
  color: white;
}

th, td {
  padding: 12px;
  border: 1px solid #ccc;
  text-align: center;
}

img {
  width: 70px;
  height: 50px;
  border-radius: 6px;
}

/* Button */
.view-btn {
  padding: 8px 15px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
