/* ===== Buttons for Complaint List Page ===== */
.vote-btn {
    background-color: #ffb0d5;
    padding: 10px 18px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
    margin-right: 10px;
}

.vote-btn:hover {
    background-color: #ff0062;
    color: #fff;
    transform: scale(1.05);
}

.comment-btn {
    background-color: #4cb0dc;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 16px;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease;
    display: inline-block;
}

.comment-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
