body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
   background: linear-gradient( #ffe8cb, #ffffff);
}

/* Hero Section */
.hero {
  background: linear-gradient(to right, #ffebd2, #fcfcfc);
  padding: 100px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-container {
  display: flex;
  width: 100%;
}

.hero-left, .hero-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-left {
  width: 45%;
}

.hero-left img {
  width: 380px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(37, 99, 235, 0.25);
  transition: transform 0.3s ease;
}

.hero-left img:hover {
  transform: scale(1.05);
}

.hero-right {
  width: 50%;
  flex-direction: column;
}

.hero-right h1 {
  font-size: 45px;
  color: #1e3a8a;
  margin-bottom: 20px;
}

.hero-right span {
  color: #2563eb;
}

.hero-right p {
  font-size: 18px;
  margin-bottom: 25px;
  color: #475569;
  line-height: 30px;
}

.hero-buttons {
  display: flex;
  gap: 20px;
}

button {
  background: linear-gradient(to right, #0078d7, #00bfa6);
  color: white;
  border: none;
  padding: 12px 28px;
  border-radius: 25px;
  font-size: 17px;
  cursor: pointer;
  transition:0.3s ease;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.15);
}

button:hover {
  transform: scale(1.05);
}

/* Info Sections */
.info-section {
  background-color: #fff;
  width: 60%;
  margin: 80px auto;
  padding: 30px 40px;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(59, 130, 246, 0.2);
  transition: 0.3s;
}

.info-section:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(24, 112, 255, 0.3);
}

.info-section h3 {
  color: #2563eb;
  border-bottom: 2px solid #bfdbfe;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.info-section ol li {
  padding: 10px 0;
  color: #3a414b;
  line-height: 1.6;
}

/* Footer */
footer {
  background-color: #1e3a8a;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 80px;
  font-size: 15px;
}
