/* ===== Buttons for My Complaint Page ===== */
.edit-btn,
.delete-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
    margin-top: 15px;
}

.edit-btn {
    background-color: #31b650;
    color: #fff;
}

.edit-btn:hover {
     background-color: #0d8126;   
}

.delete-btn {
    background-color: #ff3045;
    color: white;
}

.delete-btn:hover {
   background-color: #ff152d;
    color: #fff;
}
