* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background:url('../images/bgimg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    
}

/* Navbar section */
header {
    position: sticky;
    top: 0;
}

.navbar {
    background-color: rgb(241, 241, 241);
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

/* logo */
.logo {
    display: flex;
}

.logo img{
    border-radius: 15px;
}

.logo h1 {
    margin-left: 20px;
    color: rgb(2, 49, 234);
}

.navbar > ul {
    display: flex;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    background-color: rgb(244, 244, 246);
    color: rgb(6, 6, 6);
    margin: 20px;
    border-radius: 50px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
    transition: 0.3s linear;
}

a:hover {
    background-color: rgb(218, 154, 35);
    color: white;
}

/* Footer section */
.footer-section {
    background-color: rgb(255, 246, 219);
    color: black;
    padding: 30px 250px 30px;
    margin-top: 50%;
}

.footer {
    display: flex;
}

.first {      
    width: 100%;         
}

.first ul li {
    margin: 10px ;
    font-size: 15px;
    list-style: none;
}

.first p {
    font-size: 15px;
    color: black;
    line-height: 1.9;
    margin: 10px 0;
}

.copy {
    text-align: center;
    font-size: 15px;
    margin-top: 30px;
    color:black;
    border-top: 1px solid #444;
    padding-top: 15px;
}
